<h1><code ng:non-bindable="">w20CoreText</code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20coretext-page"><p>This module provides text services and directives for publishing content.</p>
<h4 id="description_configuration">Configuration</h4>
<p>This module has no configuration option.</p>
<h4 id="description_fragment-definition-sections">Fragment definition sections</h4>
<p>This module has no fragment definition section.</p>
</div></div>
</div>
