<h1><code ng:non-bindable="">w20Markdown</code>
<div><span class="hint">directive in module <code ng:non-bindable="">w20CoreText</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20coretext-directive-page w20coretext-directive-w20markdown-page"><p>This directive converts the element markdown content to HTML.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY w20-markdown&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
<h2 id="example">Example</h2>
<div class="example"><div class="w20coretext-directive-page w20coretext-directive-w20markdown-page"><pre><code>&lt;div data-w20-mardown&gt; ... &lt;/div&gt;
</code></pre></div></div>
</div>
