<h1><code ng:non-bindable="">TextService</code>
<div><span class="hint">service in module <code ng:non-bindable="">w20CoreText</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20coretext-service-page w20coretext-service-textservice-page"><p>This service provides text manipulation functions.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_markdown">markdown(value)</h3>
<div class="markdown"><div class="w20coretext-service-page w20coretext-service-textservice-markdown-page"><p>Convert markdown text to html.</p>
</div><h5 id="methods_markdown_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coretext-service-page w20coretext-service-textservice-markdown-page"><p>The markdown text to convert.</p>
</div></td></tr></tbody></table><h5 id="methods_markdown_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coretext-service-page w20coretext-service-textservice-markdown-page"><p>The HTML text converted.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
