<h1><code ng:non-bindable="">w20CoreSecurity</code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20coresecurity-page"><p>This module provides authentication and authorization functions through realms. A realm is a security domain
where a subject has some attributes and permissions. A subject may have different permissions in different realms.
A permission check is always done in a specific realm and valid only for this realm. Realms are declared in
fragments and are named with the fragment identifier.</p>
<p>Authentication is handled through authentication providers. You can register additional providers with the API.</p>
<p>SimpleAuthentication provider is built-in.</p>
<h4 id="description_configuration">Configuration</h4>
<pre><code> &quot;security&quot; : {
     // Automatically log in user on application initialization (possibly asking for credentials)
     &quot;autoLogin&quot; : true|false

     // If present this parameter change the current view to the one at the specified route path
     // after logout
     &quot;redirectAfterLogout&quot;: &quot;path/to/route/after/logout&quot;,

     // If present this parameter change the current view to the one at the specified route path
     // after login
     &quot;redirectAfterLogin&quot;: &quot;path/to/route/after/login&quot;
 }
</code></pre><h4 id="description_fragment-definition-sections">Fragment definition sections</h4>
<p>The &quot;security&quot; fragment definition section defines a security realm named as the fragment identifier.</p>
<pre><code> &quot;security&quot; : {
     &quot;provider&quot; : &quot;Name of the authentication provider&quot;,
     &quot;config&quot; : {
         ... // Provider-specific configuration
     }
 }
</code></pre></div></div>
</div>
