<h1><code ng:non-bindable="">w20BulletChart</code>
<div><span class="hint">directive in module <code ng:non-bindable="">w20DatavizCharts</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20datavizcharts-directive-page w20datavizcharts-directive-w20bulletchart-page"><p>A bullet graph is a variation of a bar graph developed by Stephen Few. Seemingly inspired by the traditional thermometer
charts and progress bars found in many dashboards, the bullet graph serves as a replacement for dashboard gauges and meters.</p>
<h4 id="description_configuration">Configuration</h4>
<pre><code> &quot;bullet&quot;:{},
</code></pre><h4 id="description_fragment-definition-sections">Fragment definition sections</h4>
<p>This module has no fragment definition section.</p>
<p>The w20BulletChart directive allows you to declare the chart on your html markup and specify the configuration object to be used in your controller.</p>
<div class="alert alert-info"> You must indicate a unique id for the chart </div>


<div id="multibar" data-w20-bullet-chart="bulletChartConfig">
</div></div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY w20-bullet-chart&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
